.btn-sac {
  background-color: #055e39;
  border-color: #055e39;
  width: 100%;
  color: white;
  border-radius: 0px;
  border-color: white;
}
.btn-sac:hover,
.btn-sac:focus,
.btn-sac:active,
.btn-sac.active {
  background-color: #04462a;
  border-color: #022e1c;
  color: white;
  border-color: white;
}
.btn-sac.disabled:hover,
.btn-sac.disabled:focus,
.btn-sac.disabled:active,
.btn-sac.disabled.active,
.btn-sac[disabled]:hover,
.btn-sac[disabled]:focus,
.btn-sac[disabled]:active,
.btn-sac[disabled].active,
fieldset[disabled] .btn-sac:hover,
fieldset[disabled] .btn-sac:focus,
fieldset[disabled] .btn-sac:active,
fieldset[disabled] .btn-sac.active {
  background-color: #055e39;
  border-color: #055e39;
  color: white;
  border-color: white;
}