{% extends "base/skeleton.html" %}

{% block page_title %}SAC Login {% endblock page_title%}
{% load staticfiles %}

{% block body %}

<div class="container-fluid">
	<div class="row" style="text-align: center">
		<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1 login-container">
			<form id="form-login" method="post" class="well" style="background-color: rgba(233, 246, 247, 0.82); border-color: rgba(233, 246, 247, 0)">
				<h3> Iniciar Sesión </h3>
				<hr />
				{% csrf_token %}
				<div class="form-group {% if base_form.errors %} {% if base_form.username.errors %} has-error {% else %} has-success {% endif %} {% endif %}">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						{{base_form.username}}
					</div>
					{{base_form.username.errors}}
				</div>
				<div class="form-group {% if base_form.errors %} {% if base_form.password.errors %} has-error {% else %} has-success {% endif %} {% endif %}">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-key"></i></span>
						{{base_form.password}}
					</div>
					{{base_form.password.errors}}
				</div>

				<div class="form-group">
					<button id="btn-login" type="submit" class="btn btn-sac">
						Iniciar Sesión
					</button>
					<!--<p class="help-block">
						Olvidaste tu <a href="{% url 'forgot_password' %}"> contraseña </a> o <a href="{% url 'forgot_username' %}"> nombre de usuario? </a>
					</p>-->
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock body %}