.post-img{ 
    max-height:395px;
}

.post-text-title { 
	white-space: nowrap;
	
	overflow: hidden;
	text-overflow:ellipsis;
	margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.post-text-container { 
	color: black;
	mix-blend-mode: hard-light;
	max-height: 200px; 
	overflow: hidden;
	text-overflow:ellipsis
}

.post-text-container:after {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(transparent, grey);
}