{% load staticfiles %}



<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SAC</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type=.post-text-container { 
    mix-blend-mode: hard-light;
    max-height: 200px; 
    overflow: hidden;
    text-overflow:ellipsis
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}'text/css'>

    <!-- Plugin CSS -->
    <link href="{% static "vendor/magnific-popup/magnific-popup.css" %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static "css/creative.css" %}" rel="stylesheet">

    <link href="{% static "css/sac.css" %}" rel="stylesheet">

    <link href="{% static "css/jquery.scrollbar.css" %}" rel="stylesheet">

    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">SAC</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">Acerca</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Servicios</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#why">¿Por Qué?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contacto</a>
                    </li>
                    <li>
                        <a href="account/login/user_panel/">Ingresar</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>
                 “Si no cuidas a tus clientes, alguien más lo hará”
                </h1>
            </div>
        </div>
    </header>

    
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">ACERCA</h2>
                    <hr class="light">
                    <p class="text-faded">
                    SAC es una solución para el modelado y automatización de procesos de soporte y atención al cliente.
                    <p>
                    <p class="text-faded">
                    Adicionalmente, nuestro equipo presta un servicio de asesoria para ayudarte a crear o mejorar tus procesos de soporte basados en los modelos y marcos de trabajo como: E-TOM, ITIL y COBIT.
                    </p>
                    <p class="text-faded">                       
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-comments-o text-primary sr-icons"></i>
                        <h3>Asesoria</h3>
                        <p class="text-muted">Nuestro equipo esta dispuesto a prestar asesoria en modelado de procesos.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-cogs text-primary sr-icons"></i>
                        <h3>Modelado</h3>
                        <p class="text-muted">Usando SAC puedes modelar tus procesos de soporte y atención al cliente.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-desktop text-primary sr-icons"></i>
                        <h3>Despliegue</h3>
                        <p class="text-muted">En base a el modelo de los procesos de tu organización, SAC configura y despliega la infraestructura y el sistema que se ajusta a la medida.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="why">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="{% static "img/portfolio/fullsize/1.jpg" %}" class="portfolio-box">
                        <img src="{% static "img/portfolio/thumbnails/1.jpg" %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Atención y Soporte
                                </div>
                                <div class="project-name">
                                    Procesos de atención y soporte eficientes resultan en beneneficios para la organización.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="{% static "img/portfolio/fullsize/2.jpg" %}" class="portfolio-box">
                        <img src="{% static "img/portfolio/thumbnails/2.jpg" %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Modelado
                                </div>
                                <div class="project-name">
                                    A traves de un lenguaje simple, se tiene la capacidad de modelar los procesos de la organización.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="{% static "img/portfolio/fullsize/3.jpg" %}" class="portfolio-box">
                        <img src="{% static "img/portfolio/thumbnails/3.jpg" %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Infraestructura y Despliegue
                                </div>
                                <div class="project-name">
                                    SAC ofrece la infraestructura necesaria para la operación de los sitemas de información.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contacto</h2>
                    <hr class="primary">
                    <p>Nicolás Esteban Balcero Cerón - nebalceroc@unal.edu.co</p>
                </div>               
            </div>
            <div class="row">
                <!--<div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <a href="https://www.facebook.com/UNalAlbiRoja/">
                        <img src="{% static "img/facebook_logo.png" %}" style="width: 60px; height: 60px">
                    </a>
                    <a href="https://twitter.com/UNALBIRROJA/">
                        <img src="{% static "img/twitter_logo.png" %}" style="width: 60px; height: 60px">
                    </a>
                    <a href="https://www.instagram.com/un_albi_roja/"> 
                        <img src="{% static "img/instagram_logo.png" %}" style="width: 60px; height: 60px">
                    </a>
                </div>  -->              
            </div>
        </div>
    </section>
    

    

    <!-- jQuery -->
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static "vendor/scrollreveal/scrollreveal.min.js" %}"></script>
    <script src="{% static "vendor/magnific-popup/jquery.magnific-popup.min.js" %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static "js/creative.min.js" %}"></script>

    <script src="{% static "js/jquery.scrollbar.min.js" %}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('.scrollbar-outer').scrollbar();
        });
    </script>



</body>
</html>
