{% load staticfiles %}

<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Proceso de Devolución de Dinero
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <i class="fa fa-clock-o fa-fw"></i> Modelo del Proceso <div style="float: right;"><i class="fa fa-pencil"></i> Editar</div>
                                </h3>
                            
                            </div>
                            <div class="panel-body">
                                <img src="{% static "img/uml.png" %}" style="width: 100%">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Lista de Solicitudes</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <span class="badge">Hace 1 segundos</span>
                                        <i class="fa fa-cloud-download"></i> Solicitud pendiente
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">Hace 4 minutos</span>
                                        <i class="fa fa-cloud-download"></i> Solicitud pendiente
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">Hace 13 minutos</span>
                                        <i class="fa fa-clock-o"></i> Solicitude en espera
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">Hace 36 minutos</span>
                                        <i class="fa fa-check-circle"></i> Solicitud atendida
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">Hace 56 minutos</span>
                                        <i class="fa fa-check-circle"></i> Solicitud atendida
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">Hace 5 dias</span>
                                        <i class="fa fa-check-circle"></i> Solicitud rechazada
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">Hace 1 semanas</span>
                                        <i class="fa fa-check-circle"></i> Solicitud anulada
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">Hace 3 meses</span>
                                        <i class="fa fa-check-circle"></i> Solicitud rechazada
                                    </a>
                                </div>
                                <div class="text-right">
                                    <a href="#">Ver Anteriores <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->
