{% load staticfiles %}

<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Mis Procesos
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Lista de Procesos Modelados</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <span class="badge">5 Nuevas Interacciones</span>
                                        Recepción Sugerencias
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">10 Nuevas Interacciones</span>
                                         Preguntas o Consultas acerca del Servicio
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">Sin Novedades</span>
                                         Atención a Reportes en Fallad del Servicio
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <i class="fa fa-clock-o fa-fw"></i> Modelo de: Preguntas o Consultas acerca del Servicio <div style="float: right;"><i class="fa fa-pencil"></i> Editar</div>
                                </h3>
                            
                            </div>
                            <div class="panel-body">
                                <img src="{% static "img/uml.png" %}" style="width: 100%">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->
