
	<div class="container">

		<hr>

		<!-- Footer -->
		<footer>
			<div style="text-align:center"class="row">
                Copyright &copy; SAC 2016 <a style="padding-left:20px" href="/account/terms-of-use/">Terms of Use</a> 
                    <a style="padding-left:20px" href="/account/privacy-policy/">Privacy Policy</a>
				
			</div>
		</footer>

	</div>
	<!-- /.container -->