{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
<html class="no-js">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{% block page_title %} {% endblock page_title%}</title>

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Core CSS -->
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<!-- Bootstrap theme -->
<link href="{% static "css/docapp-theme.css" %}" rel="stylesheet">
<!-- Custom CSS -->
<link href="{% static "css/shop-homepage.css" %}" rel="stylesheet">

<link href="{% static "css/sac.css" %}" rel="stylesheet">

<!-- FONT AWESOME -->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- jQuery -->
	<script src="{% static "js/jquery.js" %}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bootbox.min.js"%}"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body background="{% static "img/header.jpg" %}" style="background-repeat: no-repeat; background-color: #00331E; background-position: center center;">
	<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

	{% block header %} {% endblock header %}

	<div class="container-fluid">
		<div class="row">
			<div id="alert_box" class="col-lg-12 col-md-12 col-sm-12">
				{% if alert.msg %}
				<div class="alert alert-{{alert.alert_type}} alert-dismissable">
					<button type="button" class="close" data-dismiss="alert"
						aria-hidden="true">&times;</button>
					<strong> <i
						class="fa fa-{% if alert.alert_type == 'success' %}thumbs-up{% elif alert.alert_type == 'danger' %}thumbs-down{% else %}{{alert.icon}}{%endif%}">
					</i>
					</strong> {{alert.msg|safe}}
				</div>
				{% endif %}
			</div>
		</div>
	</div>

	{% block body %} {% endblock body %}
	</div>

	{% block footer %}  {% endblock footer%}



</body>

</html>